.home-page {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: block;
}

.intro-section, .intro-bg-body { 
    width: 100%;
    height: 100%;
}

.intro-section-bg { 
    width: 100%;
    height: 100%;
    background-image: url(../assets/home/greeter-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    z-index: -2;
}

.intro-section-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/home/grain-overlay.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
    z-index: -1;
}

.greeter-section {
    width: 100%;
    height: 100%;
    position: relative;
    top: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.greeter-section > p {
    position: relative;
    
    width: 55%;
    color: #ffffff;
    margin: 0 auto;
    
    font-weight: 400;
    display: flex;
    text-align: center;
    justify-content: center;
}

.greeter-intro {
    font-family: kawit-italic;
    font-size: 100pt;
}

.greeter-message {
    font-family: helvetica;
    font-size: 14pt;
}

@media (max-width: 1514px) {
    .greeter-intro {
        font-size: 80pt;
    }
}

@media (max-width: 1208px) {
    .greeter-intro {
        font-size: 70pt;
    }
}

@media (max-width: 1058px) {
    .greeter-intro {
        font-size: 60pt;
    }
}

.book-btn {
    font-family: helvetica-compressed;
    font-size: 21pt;
    background-color: var(--bg);
    color: var(--active-fg);
    border: none;
    padding: 20px 60px 20px 60px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    box-shadow: 0px 7px 5px rgba(0,0,0,0.3);
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.book-btn-body {
    position: relative;
    padding-top: 102px;
}

.flower-body {
    z-index: -1;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
}

.flower-1 {
    position: absolute;
    top: 35%;
    width: 666px;
    height: 931px;
    display: block;
    background-image: url(../assets/home/flower-1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.flower-2 {
    position: relative;
    margin-left: auto; 
    margin-right: 0;
    width: 644px;
    height: 651px;
    display: block;
    background-image: url(../assets/home/flower-2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.socmed-body {
    position: absolute;
    top: auto;
    bottom: 60px;
    left: auto;
    right: 0;
    display: flex;
    flex-direction: column;
    padding-right: 30px;
    padding-bottom: 30px;

}
.socmed-body button {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    padding: 5px;
}


.preview-section, .preview-bg-body { 
    width: 100%;
    height: 100%;
}

.preview-bg-body {
    position: relative;
}

.preview-section-bg { 
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(../assets/home/preview-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    z-index: -2;
    display: flex;

}

.preview-section-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../assets/home/preview-overlay.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;

}

.preview-bg-3 {
    position: relative;
    background: #dbbe95;
    width: 98%;
    height: 100%;
    top: -30px;
    left: 0;
    border-radius: 32px;
    opacity: 0.4;
    box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: flex;

}

.preview-1-text-body, .preview-2-text-body  {
    position: relative;
    max-width: 30%;
}

.preview-1-text-body p {
    padding-bottom: 20px;
}

.preview-img {
    position: relative;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    border-radius: 24px;
}

#preview-img-1 {
    background-image: url(../assets/home/tattoo-prev/1.png);
    width: 170px;
    height: 334px;
    max-width:253px;
    max-height:497px;
}

#preview-img-2 {
    background-image: url(../assets/home/tattoo-prev/2.png);
    width: 200px;
    height: 394px;
    max-width:336px;
    max-height:662px;
}

#preview-img-3 {
    background-image: url(../assets/home/tattoo-prev/3.png);
    width: 200px;
    height: 394px;
    max-width:336px;
    max-height:662px;
    
}

#preview-img-4 {
    background-image: url(../assets/home/tattoo-prev/4.png);
    width: 170px;
    height: 334px;
    max-width:253px;
    max-height:497px;
}

.preview-1-img-body > * {
    margin-left: 40px;
}

.preview-2-img-body > * {
    margin-right: 40px;
}

.preview-1-img-body, .preview-2-img-body {
    display: flex;
}

.preview-1-img-body {
    margin-left: 120px;
}

.preview-2-img-body {
    margin-right: 120px;
}

.preview-1-body {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;

    height: 100%;
}

.preview-2-body {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 180px;

    height: 100%;
}

p.preview-text-title {
    font-family: kawit-italic;
    font-size: 32pt;
    color: var(--fg);
}

p.preview-text-msg {
    font-family: helvetica;
    font-size: 12pt;
    color: var(--fg);
}


.deals-section {
    position: relative;
    width: 100%;
    height: 40%;
    top: -60px;
    background-color: #000000;
    z-index: -1;
}