
.preview-section, .preview-bg-body { 
    width: 100%;
    height: 100%;
}

.preview-bg-body {
    position: relative;
}

.preview-section-bg { 
    position:absolute;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/home/preview-bg.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    transform-style: preserve-3d;
    z-index: -2;
    display: flex;
    z-index: 0  ;
}

.preview-section-bg:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(../../assets/home/preview-overlay.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 1;
}

.preview-bg-3 {
    position: relative;
    background: #dbbe95;
    width: 98%;
    height: 106.5%;
    top: -30px;
    left: 0;
    border-radius: 32px;
    opacity: 0.4;
    box-shadow: 0px -7px 5px rgba(0, 0, 0, 0.7);
    margin: 0 auto;
    display: flex;
    filter: blur(2px);
}

.flower-prev-body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.flower-prev {
    position: relative;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    width: 200px;
    height: 175px;
    max-width: 200px;
    max-height: 175px;
    opacity: 0.5;
}

#flower-prev-tl {
    background-image: url(../../assets/home/flower-prev/flower-prev-tl.png);
}

#flower-prev-tr {
    position: absolute;
    background-image: url(../../assets/home/flower-prev/flower-prev-tr.png);
    left: auto;
    bottom: auto;
    right: 0;
    top: 0;
}

#flower-prev-bl {
    position: absolute;
    background-image: url(../../assets/home/flower-prev/flower-prev-bl.png);
    left: 0;
    bottom: 0;
    right: auto;
    top: auto;
}

#flower-prev-br {
    position: absolute;
    background-image: url(../../assets/home/flower-prev/flower-prev-br.png);
    left: auto;
    bottom: 0;
    right: 0;
    top: auto;
}


.preview-1-text-body, .preview-2-text-body  {
    position: relative;
    max-width: 30%;
}

.preview-1-text-body p {
    padding-bottom: 20px;
}

.preview-img {
    position: relative;
    top: 0;
    bottom: 0;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    border-radius: 24px;
}

#preview-img-1 {
    background-image: url(../../assets/home/tattoo-prev/1.png);
    width: 170px;
    height: 334px;
    max-width:253px;
    max-height:497px;
}

#preview-img-2 {
    background-image: url(../../assets/home/tattoo-prev/2.png);
    width: 200px;
    height: 394px;
    max-width:336px;
    max-height:662px;
}

#preview-img-3 {
    background-image: url(../../assets/home/tattoo-prev/3.png);
    width: 200px;
    height: 394px;
    max-width:336px;
    max-height:662px;
}

#preview-img-4 {
    background-image: url(../../assets/home/tattoo-prev/4.png);
    width: 170px;
    height: 334px;
    max-width:253px;
    max-height:497px;
}

.preview-1-img-body > * {
    margin-left: 40px;
}

.preview-2-img-body > * {
    margin-right: 40px;
}

.preview-1-img-body, .preview-2-img-body {
    display: flex;
}

.preview-1-img-body {
    margin-left: 120px;
}

.preview-2-img-body {
    margin-right: 120px;
}

.preview-1-body {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 10px;

    height: 100%;
}

.preview-2-body {
    position: absolute;
    top: 0;
    left: 0;
    max-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 180px;

    height: 100%;
}

p.preview-text-title {
    font-family: kawit-italic;
    font-size: 32pt;
    color: var(--fg);
}

p.preview-text-msg {
    font-family: helvetica;
    font-size: 12pt;
    color: var(--fg);
}


.deals-section {
    position: relative;
    width: 100%;
    height: 40%;
    top: -60px;
    background-color: #000000;
    z-index: -1;
}
